BDdata/*.csv
.ipynb_checkpoints/*
_SUCCESS
miniconda3

BDdata/\.ipynb_checkpoints/airports-checkpoint\.csv

BDdata/\.ipynb_checkpoints/Untitled-checkpoint\.ipynb

*.crc

query4\.csv/extra/\.ipynb_checkpoints/

query3\.csv/\.ipynb_checkpoints/

query3\.csv/extra/\.ipynb_checkpoints/

query4\.csv/\.ipynb_checkpoints/

extraQuery/taxi/\.ipynb_checkpoints/
